---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Cards from '../components/cards.astro';
import Footer from '../components/footer.astro';

import "../styles/global.css";
import "../styles/index.css";
import "../styles/aboutme.css"
import "../styles/projects.css"

import github from '../assets/github-sign.png';
import linkedin from '../assets/linkedin.png'
import cv from '../assets/cv.png'
import csharp from '../icons/c-sharp.png'
import mysql from '../icons/mysql-database.png'
import python from '../icons/python.png'
import git from '../icons/social.png'
import xgithub from '../icons/github.png' 
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<main>
		<section class="welcome">
			<div class="top-content">
				<h1>FRANCISCO GARCIA</h1>
				<span>Hi! Nice to meet you. I'm tecnicial computer and engennier student</span>
			</div>
			<div class="bottom-content">
				<div class="card-welcome-section" id="Linkedin">
					<img src={linkedin.src} alt="LinkedIn">
					<a href="">Linkedin</a>
				</div>
				<div class="card-welcome-section" id="CV">
					<img src={cv.src} alt="CV">
					<a href="">Curriculum Vitae</a>
				</div>
				<div class="card-welcome-section" id="github">
					<img src={github.src} alt="GitHub">
					<a href="">Github</a>
				</div>
			</div>
		</section>
	</main>
	
	<section class="about">
		<div class="about-container">

			<!-- Título a la derecha -->
			<div class="about-title">
				<h2>ABOUT</h2>
			</div>

			<!-- Contenido principal -->
			<div class="about-content">

				<!-- Izquierda: card doble -->
				<div class="about-left">
					<div class="container-img-aboutme">
						<div class="card-img-aboutme"></div>
						<div class="card-img-aboutme"></div>
						<div class="card-img-aboutme"></div>
						<div class="card-img-aboutme"></div>
					</div>
				</div>

				<!-- Derecha: texto + stack -->
				<div class="about-right">
					<p class="about-text-muted">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p class="about-text-white">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					</p>
					
					<hr>
					<!-- Stack -->
					<div class="about-stack">
						<span class="about-stack-label">STACK</span>
						<div class="about-stack-icons">
							<img src={csharp.src} alt="C#">
							<img src={mysql.src} alt="mysql">
							<img src={python.src} alt="Python">
							<img src={git.src} alt="Git">
							<img src={xgithub.src} alt="github">
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	
	<section class="projects">
		<div class="conteiner-projects">
			<div class="projects-text">
				<h1>Highligth Projects</h1>
				<span>Click on cards to view details</span>
			</div>
			<div class="carousel carousel--scroll-buttons carousel--scroll-markers">
				<div class="carousel__slide" data-label="Slide 1"><Cards id="aurora" /></div>
				<div class="carousel__slide" data-label="Slide 2"><Cards id="casystem" /></div>
				<div class="carousel__slide" data-label="Slide 3"><Cards id="games" /></div>
			</div>
		</div>
	</section>
	<Footer />
</Layout>


